body
{
    color: #333;
    text-align: center;
    font-family: Arial;
}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 0.5px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
